[submodule "tooling/list"]
	path = tooling/list
	url = https://github.com/mac9sb/list.git
[submodule "tooling/axiom"]
	path = tooling/axiom
	url = https://github.com/mac9sb/axiom.git
[submodule "tooling/orchestrator"]
	path = tooling/orchestrator
	url = https://github.com/mac9sb/orchestrator.git
[submodule "sites/todos-auth-fluent"]
	path = sites/todos-auth-fluent
	url = https://github.com/mac9sb/todos-auth-fluent.git
[submodule "sites/maclong.dev"]
	path = sites/maclong.dev
	url = https://github.com/mac9sb/portfolio.git
[submodule "embedded/pocket-pulse"]
	path = embedded/pocket-pulse
	url = https://github.com/mac9sb/pocket-pulse.git
