[user]
	email = maclong9@icloud.com
	name = Mac
[init]
	defaultBranch = main
[core]
  excludesFile = "$HOME/.gitignore"
[alias]
	co = checkout
	br = branch
	st = status
	lg = log --oneline --graph --decorate
