.claude/

vim/*
!vim/vimrc
nvim/
!nvim/init.lua
!nvim/nvim-pack-lock.json

zed/*
!zed/settings.json

zsh/*
!zsh/.zprofile
!zsh/.zshrc
!zsh/omp.toml

pi/*
!pi/agent/AGENTS.md
!pi/agent/skills/
!pi/agent/settings.json
