<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mac9sb.server-manager</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/mac/Developer/utilities/scripts/server-manager.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/mac/Library/Logs/com.mac9sb/server-manager.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/mac/Library/Logs/com.mac9sb/server-manager.stderr.log</string>
</dict>
</plist>
